.blog-header {
  top: 0px;
  left: 0px;
  height: 37px;  
  background: var(--unnamed-color-8db9ca) 0% 0% no-repeat padding-box;
  background: #8DB9CA 0% 0% no-repeat padding-box;
  opacity: 1;  
}

.blog-header-logo {
  top: 14px;
  left: 50%;
  width: 294px;
  height: 11px;
  font: normal normal bold 11px/13px Josefin Sans;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.65px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}

.navbar-nav .nav-item .nav-link{
  text-decoration: none;
  text-align: left;
  font: normal normal bold 13px/16px Josefin Sans;
  letter-spacing: 1.95px;
  color: #221F20;
  text-transform: uppercase;
  opacity: 1;
}

.navbar-nav .nav-item .nav-link-icon{
  opacity: 1;
  margin-right: 8px;
}

.navbar-nav .nav-link-counter {
  text-decoration: none;
  font: normal normal 600 13px/16px Barlow Condensed;
  letter-spacing: 10px;
  color: var(--unnamed-color-221f20);
  background: #659AB1 0% 0% no-repeat padding-box;
  opacity: 0.3;
  border-radius: 50%;
}

.hero-image{
  background-image: asset_url("2132C2_6.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 729px;
  position: relative;
}

.mega-div {
  text-align: center;
}
.mega-title {

  text-align: center;
  font: normal normal bold 70px/84px Barlow Condensed;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 143px;
}

.mega-subtitle {
  text-align: center;
font: normal normal normal 17px/25px Nunito;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.mega-button {
  width: 208px;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  color: var(--unnamed-color-221f20);
  text-align: center;
  font: normal normal bold 12px/14px Josefin Sans;
  letter-spacing: 1.8px;
  color: #221F20;
  text-transform: uppercase;
  opacity: 1;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.mega-explore {  
  text-align: center;
  font: normal normal bold 14px/18px Josefin Sans;
  letter-spacing: 2.1px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;  
  position: absolute;
  bottom: 0;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.mega-explore:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}